Production ready?

It appears stun has implemented a subset of the specs compared to coturn (https://github.com/coturn/coturn), so I was wondering if you could comment on the specs which stun has yet to implement and what that means for production (ie. will some networks not work, etc).

Thanks for the help!

* RFC 5389 - "new" STUN spec (webrtc spec required RFC5389)
* RFC 5766 - base TURN spec (attributes / packets, protocol should be implemented in another package)
* RFC 5245 - base ICE spec (attributes / packets)
* RFC 5780 - base NAT behavior discovery support (attributes / packets)

I have no plans to add TLS / TCP support, but i will add DTLS support.
